<h2>Wicked Awesome Posts</h2>

<%= link_to "Create New Post", new_post_path %>


<table>
  <thead>
    <tr>
      <th>User</th>
      <th>_____</th>
      <th>Status</th>
      <th>_____</th>
      <th>Likes</th>
      <th>_____</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td> <%= link_to post.user, post_path(post) %></td>
      <td></td>
      <td> <%= post.status %></td>
      <td></td>
      <td> <%= post.likes %></td>
      <td> <%= submit_tag "Like" %> </td>
      <td><%= link_to "Edit", edit_post_path(post) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
